.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  .cards {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
  }
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 15%;
  font-size: 40px;
  color: #e9ecef;
  font-weight: bold;
  font-family: monospace;
}
